<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Visualization</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
    body {
        background-color :black;
}
.container {
  position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: -25px;
}
</style>
<body >
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a style="background-color: green" href="/" class="btn btn-info navbar-brand" role="button">Home</a>
</nav>



<div class="container">
<a style="background-color: green" href="/pie_display" class="btn btn-info" role="button">Pie</a>
<a href="/index" class="btn btn-info" role="button">Bar</a>
<a style="background-color: blue" href="/line" class="btn btn-info" role="button">Line</a>
</div>


</body>
</html>