<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
    body{
        margin-left: 19px;
    }
    #div{
         margin-top: 10px;
        margin-left: 10px;
}
</style>
</head>
<body>
<a id="div" style="background-color: green" href="/"  class="btn btn-info pull-right" role="button">Back</a>

<div id="container" style="width: 50%;">
    <canvas id="pie-chart"></canvas>
  </div>


 <script>

    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
            '#40ff00', '#ff0000', '#ff8000', '#0000ff', '#D3D3D3'
          ],
          label: 'Selling_Price'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>
<br>
<br>


</body>
</html>